.GenericListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0px 10px;
}

.GenericListItem:hover {
  cursor: pointer;
}

.Link {
  padding: 15px 15px;
  box-shadow: 0 0 2px rgba(0,0,0,.12),
    0 2px 2px rgba(0,0,0,.2);

  text-decoration: none;
  background-color: #00BCD4;
  color: white;
}

.Link:hover {
  background-color: #4DD0E1;
}

@media screen and (max-width: 575px) {
  .GenericListItem {
    flex-direction: column;
    align-items: flex-start;
  }
}
