.navigationBar {
  position: fixed;
  display: flex;
  width: 100%;

  top: 0;
  height: 50px;
  max-height: 50px;
  z-index: 10;

  background: #00BCD4;
}

.main-link-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
}

.main-link {
  margin: 0px;
  padding: 15px 10px;

  text-decoration: none;
  color: 	white;
}

.main-link:hover {
  background-color: #4DD0E1;
}

.links {
  display: flex;
  flex-direction: row-reverse;
  flex: 1;
}
